* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: grid;
  grid-template-areas:
    "display shortcutBtns"
    "calculatorBtns shortcutBtns";
}

.calculatorDisplay {
  grid-area: display;
  text-align: right;
  margin-bottom: 10px;
}

.calculatorDisplay input {
  width: 30vw;
  height: 10vh;
  box-sizing: border-box;
  font-size: 60px;
  text-align: right;
}

#calculatorBtns {
  grid-area: calculatorBtns;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#calculatorBtns button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
}

#zeroBtn {
  grid-column: span 2;
}

#shortcutBtns {
  grid-area: shortcutBtns;
  margin-left: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  height: 5%;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

p {
  font-size: 1.1em;
  margin-bottom: 8px;
  font-family: "Indie Flower", cursive;
}
