:root {
  --bg-color: white;
  --red-color: #e03130;
  --blue-color: #1a70c2;
  --black-color: #1f1f1f;
  --orange-color: #f38b04;
  --green-color: #2f9e44;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
}

.wrapper {
  flex: 1;
  display: flex;
}

.navbar,
#container,
#content {
  display: flex;
}

.navbar {
  height: 20%;
}

#container {
  flex: 1;
  height: 100%;
  flex-direction: column;
}

#content {
  width: 100%;
  flex: 1;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--blue-color);
  border: 5px solid var(--blue-color);
  border-radius: 15px;
  position: relative;
}

.help {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
  background-color: var(--blue-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

#aside-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  color: var(--black-color);
  border: 5px solid var(--black-color);
  border-radius: 15px;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--orange-color);
  border: 5px solid var(--orange-color);
  border-radius: 15px;
}

#aside-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--red-color);
  border: 5px solid var(--red-color);
  border-radius: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--green-color);
  border: 5px solid var(--green-color);
  border-radius: 15px;
}
